
.menu {
	position: fixed;
	width: 500px;
	margin-top: 30px;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0);
}
.menu .content_table{
	width:100%;
}
.menu .content_tr{
	padding:20px;
}
.menu .content_td{
}


.menu .content_button{
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 20px 32px;
	font-weight: 900;
	text-align: top;
	text-decoration: none;
    text-transform: uppercase;
	display: block;
	font-size: 30px;
	line-height: 30px;
	margin: auto;
	cursor: pointer;
	width: 80%;
	height:70px;
	color: rgb(197,36,48);
    outline-color: rgb(197,36,48);
    outline-style: solid;
    outline-width: 2px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
	transition: all .5s ease;
    
}

.menu .content_button:active, .menu .content_button:hover{
    background-color: rgba(39,163,78,1);
    color: rgba(255,255,255,.8);
    line-height: 30px;
   	font-size: 40px;
}

/* making printed section invisibel */
#section_to_print{
	visibility: hidden;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section_to_print, #section_to_print * {
    visibility: visible;
  }
}
