{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'id' }}" class="h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Queue Machine{% endblock %}</title>
  <link rel="icon" href="{% static 'queue_app/images/favicon.png' %}" type="image/png">
  {% include 'queue_app/includes/vendor_head.html' %}
  <link href="{% static 'queue_app/core/css/app.css' %}" rel="stylesheet">
  {% block vendor_css %}{% endblock %}
  {% block stylesheet %}{% endblock %}
  {% block head_script %}{% endblock %}
</head>
<body class="min-h-full bg-slate-50 text-slate-900 antialiased {% block body_class %}{% endblock %}">
  {% block content-header %}{% endblock %}
  <main class="{% block main_class %}{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  {% include 'queue_app/includes/messages.html' %}
  <script src="{% static 'queue_app/core/js/app.js' %}"></script>
  {% block vendor_js %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>
</html>
