{% load static %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}HOME{% endblock %}</title>

	<link href="{% static 'queue_app/core/css/base.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>#}
	<link href="{% static 'queue_app/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/font-awesome/css/font-awesome-animation.min.css'%}" rel="stylesheet" type="text/css">
	<script src="{{ STATIC_URL }}js/jquery.js"></script>
	<script src="{% static 'queue_app/popper/popper.min.js' %}"></script>
	<script src="{% static 'queue_app/bootstrap/js/bootstrap.min.js' %}"></script>
	{% block stylesheet %}{% endblock %}
	{% block head_script %}{% endblock %}

</head>
<body class="base_bg">
	{% block content-header %}
	<header>
	</header>
	{% endblock %}
	<main>
		{% block content %}<h2>Temple render error</h2>{% endblock %}
	</main>
	<footer>

		{% if messages %}
		<!-- notification container -->
		<div class="notification-container">
			{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
			  <strong>{{message.tags|capfirst}}!</strong> {{message|capfirst}}
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% endfor %}
		</div>
			<script type="text/javascript">
				$(".alert-dismissible").fadeTo(5000, 500).slideUp(500, function(){
						$(".notification-top").slideUp(500);
				});
			</script>
		{% endif %}
	</footer>
	{% block javascript %}{% endblock %}
</body>
