{% load static %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}HOME{% endblock %}</title>
	<link href="{% static 'queue_app/core/css/base.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>#}
	<link href="{% static 'queue_app/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/font-awesome/css/font-awesome-animation.min.css'%}" rel="stylesheet" type="text/css">
	{% block stylesheet %}{% endblock %}
	<script src="{% static 'queue_app/jquery/jquery.js' %}"></script>
	<script src="{% static 'queue_app/popper/popper.min.js' %}"></script>
	<script src="{% static 'queue_app/bootstrap/js/bootstrap.min.js' %}"></script>
	{% block head_script %}{% endblock %}
</head>
<body class="base_bg">
	<header>
	{% block content-header %}{% endblock %}
	</header>
	<main>
		{% block content %}<h2>No content found</h2>{% endblock %}
	</main>
	<footer>
	</footer>
	<script>
	{% if messages %}
		{% for message in messages %}
			window.alert("{{ message }}");
		{% endfor %}
	{% endif %}
	</script>

	{% block javascript %}{% endblock %}
</body>
