{% extends "queue_app/base.html" %}
{% block javascript %}
	<script type="text/javascript">
		//get this shit straight
		//dont generate function for each button
		//make one that receive id from button and send that instead
		//you dumb fuck
			$('body').on('click','.content_button', function(event){
				$.ajax({
					data:
					url : "{% url 'printticket' service.id %}",
					type : "GET",
					success : print_ticket,
					error : function(){console.log("{% url 'printticket' service.id %}");}
				});
			});
		function print_ticket(json){
			console.log(json);
			$('#queue_service').text(json.service.name);
			$('#qeueu_number').text(String(json.number));
			$('#queue_time').text(json.created);
			window.print();
		}

	</script>
{% endblock %}

{% block content %}
	<div class="section_to_print">
		{% include 'queue_app/print_place_holder.html' %}
	</div>
	<div class="menu">
		<table class="content_table">
		{% for service in object_list %}
			<tr class="content_tr">
				<td class="content_tr">
					<input type="button" class="content_button" value="{{ service }}" id="service_{{service.id}}">
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
