{% extends 'queue_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Queue Manager App
{% endblock %}
{% block stylesheet %}
	<link href="{% static 'queue_app/core/css/index.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="fixed-top ">
	<a id="admin-link" class="float-right" href="/admin/">
		<i class="fa fa-user-circle-o"></i>
		{% trans "Admin" %}
	</a>
</div>
<div class="container-fluid vertical-center">
	<div class="container-fluid">
		<div class="container-fluid  btn-container text-center">
			<a href="{% url 'queue:machine:index' %}" >{% trans "machine" as machine_tx %}{{machine_tx|title}}</a>
		</div>
		<div class="container-fluid btn btn-container text-center">
			<a  href="{% url 'queue:manager:index' %}">{% trans "manager" as manager_tx%}{{manager_tx|title}}</a>
		</div>
		<div class="container-fluid btn btn-container text-center">
			<a  href="{% url 'queue:infoboard:index' %}">{% trans "information board" as inf_brd_tx%}{{inf_brd_tx|title}}</a>
		</div>
	</div>
</div>
{% endblock %}
