{% extends "queue_app/base.html" %}
{% load static %}
{% block title %}Qeueu{% endblock %}
{% block javascript %}
	<script src="{% static 'queue_app/js/machine.js' %}"></script>
	<script type="text/javascript">
			$('body').on('submit','.input_form', function(event){
				event.preventDefault();
				var id = $(this).attr('id');
				var csrftoken = getCookie('csrftoken');
				console.log(JSON.stringify($(this).serializeFormJSON()));
				$.ajaxSetup({
			        beforeSend: function(xhr, settings) {
			            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			                xhr.setRequestHeader("X-CSRFToken", csrftoken);
			            }
			        }
			    });
				$.ajax({
					url : "{% url "printticket"  %}",
					type : "POST",
					dataType: 'json',
					contentType: 'application/json',
					data:JSON.stringify($(this).serializeFormJSON()),
 					error : function(xhr){console.log(xhr.status);}
				})
				.done(print_ticket);
			});
			
			function print_ticket(json){
				console.log(json);
				$('#queue_service').text(json.service.name);
				$('#qeueu_number').text(String(json.number));
				$('#queue_time').text(json.date_created);
				//window.print();
			}
	</script>
{% endblock %}

{% block content %}
	<div class="section_to_print">
		{% include 'queue_app/print_place_holder.html' %}
	</div>
	<div class="menu">
		<table class="content_table">
		{% for service in object_list %}
		<form class="input_form" id="{{ service.id }}">
			<tr class="content_tr">
				<td class="content_tr">
					<input type="hidden" name="pk" class="service_name" value="{{ service.id }}"/>
					<input type="hidden" name="service" class="service_desc" value="{{ service }}"/>
					<input type="submit" class="content_button" value="{{ service }}" />
				</td>
			</tr>
		</form>
		{% endfor %}
		</table>
	</div>
{% endblock %}
