{% extends "queue_app/base.html" %}
{% load static %}
{% block title %}Manager{% endblock %}
{% block stylesheet %}
	<link href="{% static 'queue_app/css/manager.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
<script src="{% static 'queue_app/js/cookies_manager.js' %}"></script>
<script type="text/javascript">

function loadNewQueues(service_id){
	var csrftoken = getCookie('csrftoken');
	$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
    	url : request_url,
		type : "GET",
		dataType: 'json',
		contentType: 'application/json',
		error : function(xhr){console.log(xhr.status);}
    })
    .done(function(response){
    	$.each(response, function(idx, val){
    		addQueueEntries(parent_elem, val);
	    	console.log(parent_elem);
    	});
    });
}

function updateQueues(request_url,number,call_flag){
	var csrftoken = getCookies('csrftoken');

	$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
    	url : request_url,
		type : "POST",
		dataType: 'json',
		contentType: 'application/json',
		error : function(xhr){console.log(xhr.status);}
    })
    .done(function(response){
    	$.each(response, function(idx, val){
    		addQueueEntries(parent_elem, val);
	    	console.log(parent_elem);
    	});
    });

}


//.in = muncul
$(document).ready(function() {
	$(".toggle-accordion").on("click", function() {
		var accordionId = $(this).attr("accordion-id"),
		numPanelOpen = $(accordionId + ' .collapse.show').length;
		numPanel = $(accordionId + ' .collapse').length;
      
		/* $(this).toggleClass("active"); */

		if (numPanelOpen == 0) {
      		openAllPanels(accordionId);
    	} else {
      		closeAllPanels(accordionId);
    	}
  	})

	openAllPanels = function(aId) {
		$(aId + ' .panel-collapse:not(".show")').collapse('show');
	}
	closeAllPanels = function(aId) {
		$(aId + ' .panel-collapse.show').collapse('hide');
	}
     
});

$(document).ready(function(){
	$('.collapse').each(function(){
		var dom_id = $(this).attr('id')
		var service_id = dom_id.replace('collapse_', '');
		var url = "{% url "queue:queue_per_service_url" Services.last.id %}".replace(/{{Services.last.id}}/,service_id);
		$.ajax({
	    	url : url,
			type : "GET",
			dataType: 'html',
			contentType: 'application/x-www-form-urlencoded',
	    })
	    .fail(function(xhr){
			window.alert(xhr.status.toString());
		})
	    .done(function(response){
			$("#"+dom_id).append(response)
	    });
	});
});



</script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="accordion-option">
		<h3 class="title">Manager</h3>
		<!-- <a href="javascript:void(0)" class="toggle-accordion" accordion-id="#accordion"></a> -->
	</div>
	<div class="clearfix">
	</div> 
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{% for Service in Services %}
		<div class="panel panel-default">
			<div class="panel-heading" id="heading_{{ Service.id }}" role="tab" >
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_{{ Service.id }}" aria-expanded="false" aria-controls="collapse_{{ Service.id }}">
						{{ Service }}
					</a>
				</h4>
			</div>
			<div id="collapse_{{ Service.id }}" class="collapse panel-collapse in" role="tabpanel" aria-labelledby="heading_{{ Service.id }}">
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}