{% for Queue in Queues %}
<form class="update_form">
	{% csrf_token %}
	<input type="hidden" name="number" value="{{ Queue.number }}"/>
	<input type="hidden" name="id" value="{{ Queue.id }}"/>
	<div class="panel-body d-flex  bd-highlight ">
		<div class="number_cell p-2 bd-highlight ">
			<p>{{ Queue.number }}</p>
		</div>
		<div class="mr-auto p-2 bd-highlight">{{ Queue.date_created }}</div>
		<div class="action_button p-2 bd-highlight">
			<input type="submit" class="call_button">Call</input>
			<input type="submit" class="call_button">Call</input>
		</div>
	</div>
</form>
{% endfor %}
