{% extends "queue_app/base.html" %}
{% load static %}
{% block title %}Machine{% endblock %}
{% block stylesheet %}
	<link href="{% static 'queue_app/core/css/machine.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/core/css/machine-sidebar.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block head_script %}

<script type="text/javascript">

</script>
{% endblock %}
{% block javascript %}
{#<script src="{% static 'queue_app/core/js/cookies_manager.js' %}"></script>#}
<script src="{% static 'queue_app/core/js/machine.js' %}"></script>


<script type="text/javascript">
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $(".wrapper").toggleClass("toggled");
    $("#button-icon").toggleClass("flip")    
});


$('body').on('submit','.add_queue_form', function(event){
	event.preventDefault();	
	$.ajax({
		url : "{% url "queue:machine_url"  %}",
		type : "POST",
		dataType: 'html',
		contentType: 'application/x-www-form-urlencoded',
		data:$(this).serialize(),
	})
	.fail(function(xhr){
		var error_message = "AJAX Err:\n";
		error_message += "["+xhr.status.toString()+"] : ";
		error_message += xhr.statusText;
		window.alert(error_message);
	})
	.done(function(data){
	    PrintTicket(data);	    
	});
});



$('body').on('submit','.print-booking-form',function(event){
	event.preventDefault();
	var print_queue_id = $(this).attr('id');
	$.ajax({
		url : "{% url "queue:booking_print_url" user.id %}".replace(/{{ user.id }}/,print_queue_id),
		type : "POST",
		dataType: 'html',
		contentType: 'application/x-www-form-urlencoded',
		data:$(this).serialize(),
		success:function(data, status, xhr){
			console.log(status);
		},
	})
	.fail(function(xhr){
		var error_message = "AJAX Err:\n";
		error_message += "["+xhr.status.toString()+"] : ";
		error_message += xhr.statusText;
		window.alert(error_message);	
	})
	.done(function(data){
	    PrintTicket(data);
	    $('#list_'+print_queue_id).remove();	    
	});
});


$(document).ready(function(){
	$('#booking-list-body').get_queues();
});


this.last_queue_id='';
setInterval(function(){
	var last_queue_id = $('#booking-list-body .list:last-child').children('form').attr('id');
	this.last_queue_id = last_queue_id;
	$('#booking-list-body').get_queues(last_queue_id);
},60*5*1000);

</script>
{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="sidebar-wrapper text-white">
    	<div class="sidebar-panel">
	    	<div class="sidebar-brand">
    			logo CAHAYA
    		</div>
    		<div class="list-header text-right" id="list-header">
    			Booking List
    			<hr class="white">
    		</div>
    		<div id="booking-list-body" class="list-body" >
    		</div>
    	</div>
    </div>
	<a href="#menu-toggle" class="btn btn-secondary sharp tetep" id="menu-toggle">
		<i id="button-icon"class="fa fa-angle-double-right rotate"></i>
	</a>
    <div class="menu page-content-wrapper">
		<table class="content_table">
			{% for service in services %}
			<form class="add_queue_form" id="{{ service.id }}">
				<tr class="content_tr">
					<td class="content_tr">
						{% csrf_token %}
						<input type="hidden" name="service"  value="{{ service.id }}"/>
						<input type="hidden" name="print_flag"  value="on"/>
						<input type="submit" class="content_button" value="{{ service }}" />
					</td>
				</tr>
			</form>
			{% endfor %}
		</table>
		<div id="section_to_print"></div>
	</div>
</div>
{% endblock %}
