{% load static %}
<head>
	<link href="{% static 'queue_app/core/css/placeholder_ticket.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- make the ticket layout here -->
	<!-- dynamic content must have these as their ids -->
	<!-- queue_service  : for service name -->
	<!-- queue_time     : for date time the queue is created -->
	<!-- queue_number   : for the queueu line number -->
	<div class="ticket_div">HELLO</div>
	<div class="ticket_div" id="queue_service">{{ queue.service }}</div>
	<div class="ticket_div" id="queue_time">{{ queue.date_created }}</div>
	<div class="ticket_div big_number" id="qeueu_number">{{ queue.number }}</div>
</body>