.base_bg {
	background-color: #ffffff;
}
/* .overlay {
	background-color: rgba(0,0,0,0.80);
	width: 100%;
	height: 100%;
} */
.corner_image {
	/* background-image: url("../images/corner_flower.png"); */
	background-position: right top;
	background-repeat: no-repeat;
}
.notification-container{
    position: fixed !important;
    top: 60px;
		right: 2%;
		z-index: 2020;
		width: 40%;
}
