body {
	padding-top: 66px;
}

.navbar .dropdown-menu .dropdown-item.disabled{
	pointer-events: none;
	cursor:default;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
