{% load static %}
{% load widget_tweaks %}
<head>
<script src="{% static 'queue_app/jquery/jquery.js' %}"></script>
<link href="{% static 'queue_app/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'queue_app/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'queue_app/font-awesome/css/font-awesome-animation.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'queue_app/font-awesome/css/font-awesome-animation.min.css'%}" rel="stylesheet" type="text/css">

{{ form.media }}
</head>
<body>
	<div class="container form-container">
		<form id="add-booking-form" action="{% url "queue:add_booking_url" %}" method="POST">
			{% csrf_token %}		
			<input type="hidden" name="booking_flag" value="on"/>
			<div class ="form-group">
				<label for="service">{{ form.service.label }} </label>
				<div>{{ form.service }}</div>
			</div>
			<div class ="form-group">
				<label for="id_customer">{{ form.customer.label }} </label>
				<div>{{ form.customer|attr:"required" }}</div>
			</div>
			<div class ="form-group">
				<label for="booking-time">{{ form.booking_time.label }} </label>
				<div>{{ form.booking_time|attr:"required"|add_class:"form-control" }}</div>
			</div>
			<div class ="form-group">
			<label for="booking-date">{{ form.booking_date.label }} </label>
			<div>{{ form.booking_date|attr:"required readonly"|add_class:"form-control" }}</div>
			</div>
			<button type="submit">SUBMIT</button>
		</form>
		{% if messages %}
		<div id="form-success" class="alert alert-success fade show" role="alert">
	    {% for message in messages %}
	    	{{ message }}</br>
	    {% endfor %}
		</div>
		{% endif %}
		
		{% if form.errors %}
		<div id="form-error" class="alert alert-warning alert-dismissible fade show" role="alert">
			<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
			<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
	</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#booking-time').timepicker({
    	timeFormat: 'HH:mm',
    	dropdown: false,
    });
    $( "#booking-date" ).datepicker({
		buttonText: "Select date",
		dateFormat:"d-m-yy",
    });
});
</script>
</body>