{% load static %}
<head>
<script src="{% static 'queue_app/jquery/jquery.js' %}"></script>
{{ form.media }}
</head>
<body>
	{% if messages %}
	<div id="form-success">
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
	
	<form id="add-booking-form" action="{% url "queue:add_booking_url" %}" method="POST">
		{% csrf_token %}		
		<input type="hidden" name="booking_flag" value="on"/>
		<label for="your_name">{{ form.service.label }} </label>
		<div>{{ form.service }}</div>
		<div>{{ form.customer }}</div>
		<div>{{ form.booking_time }}</div>
		<div>{{ form.booking_date }}</div>
		<button type="submit">aoe</button>
	</form>
	
	{% if form.errors %}
	<div id="form-error">
		<p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
		<ul>
		{% for field in form %}
			{% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_booking_time').timepicker({
    	timeFormat: 'HH:mm',
    	dropdown: false,
    });
    $( "#id_booking_date" ).datepicker({
    	showOn: "button",
		buttonText: "Select date",
		dateFormat:"d-m-yy",
    });
});
</script>
</body>