{% extends "queue_app/manager/manager_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet-content %}
{{ form.media }}
{% endblock %}
{% block content %}
	<div class="container-fluid form-container">
		<form id="add-booking-form" action="{% url "queue:manager:change_password" %}" method="POST">
			{% csrf_token %}
			<div class ="form-group">
				<label for="id_old_pasword">{{ form.old_password.label|capfirst }} </label>
				<div>{{ form.old_password|attr:"required"|add_class:"form-control" }}</div>
			</div>
			<div class ="form-group">
				<label for="new_pasword1">{{ form.new_password1.label|capfirst }} </label>
				<div>{{ form.new_password1|attr:"required"|add_class:"form-control" }}</div>
				<small class="form-text text-muted">
					{{form.new_password1.help_text}}
				</small>
			</div>
			<div class ="form-group">
				<label for="new_pasword2">{{ form.new_password2.label|capfirst }} </label>
				<div>{{ form.new_password2|add_class:"form-control" }}</div>
			</div>
			{% comment %}
			<div class ="form-group">
				<label for="organization">{{ form.password.label|capfirst }} </label>
				<div>{{ form.password }}</div>
			</div>
			{% endcomment %}

			<button type="submit" class="form-control">SUBMIT</button>
		</form>
		{% if form.errors %}
		<div id="form-error" class="alert alert-warning alert-dismissible fade show" role="alert">
			{% trans "the operation could not be performed because one or more error(s) occurred." as erra_tx %}
			{% trans "please resubmit the form after making the following changes:" as errb_tx %}
			<p>{{err1_tx|capfirst}}<br/>{{err2_tx|capfirst}}</p>
			<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{field.label}}: {{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascript-content %}
<script type="text/javascript">

</script>
{% endblock %}
