{% extends "queue_app/manager/manager_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet-content %}
{{ form.media }}
{% endblock %}
{% block content %}
	<div class="container-fluid form-container">
		<form id="add-booking-form" action="{% url "queue:manager:edit_user" %}" method="POST">
			{% csrf_token %}
			<div class="form-row">
				<div class="col">
					<div class ="form-group">
						<label for="id_first_name">{{ form.first_name.label|capfirst }} </label>
						<div>{{ form.first_name|attr:"required"|add_class:"form-control" }}</div>
					</div>
				</div>
				<div class="col">
					<div class ="form-group">
						<label for="id_last_name">{{ form.last_name.label|capfirst }} </label>
						<div>{{ form.last_name|add_class:"form-control" }}</div>
					</div>
				</div>
			</div>
			<div class ="form-group">
				<label for="id_username">{{ form.username.label|capfirst }} </label>
				<div>{{ form.username|attr:"required"|add_class:"form-control" }}</div>
			</div>
			<div class ="form-group">
				<label for="id_email">{{ form.email.label|capfirst }} </label>
				<div>{{ form.email|attr:"required"|add_class:"form-control" }}</div>
			</div>
			<div class ="form-group">
				<label for="id_phone">{{ form.phone.label|capfirst }} </label>
				<div>{{ form.phone|add_class:"form-control" }}</div>
			</div>
			{% comment %}
			<div class ="form-group">
				<label for="organization">{{ form.password.label|capfirst }} </label>
				<div>{{ form.password }}</div>
			</div>
			{% endcomment %}

			<button type="submit" class="form-control">SUBMIT</button>
		</form>
		{% if form.errors %}
		<div id="form-error" class="alert alert-warning alert-dismissible fade show" role="alert">
			{% trans "the operation could not be performed because one or more error(s) occurred." as erra_tx %}
			{% trans "please resubmit the form after making the following changes:" as errb_tx %}
			<p>{{err1_tx|capfirst}}<br/>{{err2_tx|capfirst}}</p>
			<ul>
			{% for field in form %}
				{% if field.errors %}<li>{{field.label}}: {{ field.errors|striptags }}</li>{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascript-content %}
<script type="text/javascript">

</script>
{% endblock %}
