{% extends "queue_app/manager/manager_base.html" %}
{% load static %}
{% block title %}Manager{% endblock %}
{% block stylesheet-content %}
	<link href="{% static 'queue_app/core/css/manager.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/bootstrap-table/src/bootstrap-table.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block head_script %}
<script src="{% static 'queue_app/bootstrap-table/src/bootstrap-table.js' %}"></script>
{% endblock %}
{% block javascript-content %}
<script type="text/javascript">

$('.queue-list-table').get_initial_queue_list();
</script>
{% endblock %}

{% block content-main %}
<div class="row">
	<div class="col-3">				
		<div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
		{% for service in services %}
			<a class="nav-link text-capitalize {{ forloop.first|yesno:"active,," }}" id="tab_{{ service.id }}" data-toggle="pill" href="#tabContent_{{ service.id }}" role="tab" aria-controls="tabContent_{{ service.id }}" aria-selected="{{ forloop.first }}">
				{{ service.name }}
			</a>			
		{% empty %}
			<span><i class="fa fa-close"></i>Make atleast one service</span>
    	{% endfor %}
    	</div>
	</div>
  	<div class="col-9">
    	<div class="tab-content" id="v-pills-tabContent">
    	{% for service in services %}
      		<div class="tab-pane fade {{ forloop.first|yesno:"show active," }}" id="tabContent_{{ service.id }}" role="tabpanel" aria-labelledby="tab_{{ service.id }}" >
  				<table id="tabTable_{{ service.id }}" class="table table-sm" data-toggle="#tabTable_{{ service.id }}" >
					<thead>
  						<tr>
  							<td>
  								Queue Number
  							</td>
  							<td>
  								Ticket Number
  							</td>
  							<td>
  								Booking Time
  							</td>
  							<td>
  								Action
  							</td>
  						</tr>
					</thead>
					<tbody class="queue-list-table" queues_url="{% url 'queue:queue_per_service_url' service.id %}">
					</tbody>
  				</table>
      		</div>
    	{% endfor %}
		</div>
	</div>
</div>

{% endblock %}