{% extends "queue_app/manager/manager_base.html" %}
{% load static %}
{% load i18n %}
{% block stylesheet-content %}
	<link href="{% static 'queue_app/core/css/manager.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'queue_app/bootstrap-table/src/bootstrap-table.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block head_script %}
<script src="{% static 'queue_app/bootstrap-table/src/bootstrap-table.js' %}"></script>
{% endblock %}
{% block javascript-content %}
<script src="{% static 'queue_app/core/js/cookies_manager.js' %}"></script>

<script type="text/javascript">
//activate tool tip
$('body').tooltip({
    selector: '[data-toggle="tooltip"]',
		'delay' : { show: 3000, hide: 500 }
});

//queue table initialization
$('.queue-list-table').as_queue_list();

//uncoment these 3 lines for auto refresh
//setInterval(function(){
//	$('.queue-list-table').as_queue_list();
//},5*60*1000);

//recall queue table initialization for refresh button
$('.btn.btn-refresh').click(function(event){
	event.preventDefault();
	$(this).parent().find('.queue-list-table').as_queue_list();
});

//calling queue update queue data in database
//so a POST request to the server is required to change that data
//if the request is successfull then the second click will play the audio
$('body').on('click','a.btn-bell',handle_call);


$('body').on('click','a.btn-check',handle_finish);

$(document).ready(function(){
    $('a[role="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    const activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#v-pills-tab a[href="' + activeTab + '"]').tab('show');
    }
});
</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-3">
		<div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
		{% for service in Services %}
			<a
				class="nav-link text-capitalize {{ forloop.first|yesno:"active,," }}"
				id="tab_{{ service.id }}"
				data-toggle="pill" href="#tabContent_{{ service.id }}" role="tab"
				aria-controls="tabContent_{{ service.id }}"
				aria-selected="{{ forloop.first }}"
			>
				{{ service.name }} <span class="badge badge-secondary"></span>
			</a>
		{% empty %}
			<span><i class="fa fa-close"></i>Make atleast one service</span>
    	{% endfor %}
    	</div>
	</div>
  	<div class="col-9">
    	<div class="tab-content" id="v-pills-tabContent">
    	{% for service in Services %}
      		<div class="tab-pane fade {{ forloop.first|yesno:"show active," }}" id="tabContent_{{ service.id }}" role="tabpanel" aria-labelledby="tab_{{ service.id }}" >
      			<a
							class="btn btn-primary btn-refresh"
							href="#" role="button" style="margin-bottom:10px"
							data-toggle="tooltip" data-placement="bottom"
							title="{% trans "refresh queue table" as f5_tooltip_tx %}{{f5_tooltip_tx|capfirst}}"
						>
							{% trans "refresh" as f5_tx %}{{f5_tx|title}}
						</a>
  				<table id="tabTable_{{ service.id }}" class="table table-sm" data-toggle="#tabTable_{{ service.id }}" >
					<thead>
  						<tr>
  							<th rowspan="2">
  								#
  							</th>
  							<th class="text-center" colspan="5">
  								{% trans "queue list" as detail_tx %}
									{{detail_tx|title}}
  							</th>
  						</tr>
  						<tr>
  							<th>
  								{% trans "queue" as queue_tx%}
									{{queue_tx|title}}
  							</th>
  							<th class="d-none d-lg-table-cell">
  								{% trans "booking time" as time_tx%}
									{{time_tx|title}}
  							</th>
  							<th class="d-none d-md-table-cell">
  								{% trans "customer" as customer_tx%}
									{{customer_tx|title}}
  							</th>
                            <th class="d-none d-md-table-cell">
                                {% trans "time" as time_tx%}
                                {{time_tx|title}}
                            </th>
  							<th>
  								{% trans "options" as opt_tx%}
									{{opt_tx|title}}
  							</th>
  						</tr>
					</thead>
					<tbody class="queue-list-table" queues_url="{% url 'queue:manager:service_queues' service.id %}">
						<tr>
							<td class ="text-center" colspan="5">
								<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
								<span class="sr-only">Loading...</span>
							</td>
						</tr>
					</tbody>
  				</table>
      		</div>
    	{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
