{% extends 'queue_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Manager Home{% endblock %}

{% block stylesheet %}
	<link href="{% static 'queue_app/core/css/manager-base.css'%}" rel="stylesheet" type="text/css">

	{% block stylesheet-content %}
	{% endblock %}
{% endblock %}
{% block head_script %}
{% endblock %}

{% block content-header %}
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" >
  <a class="navbar-brand" href="{% url 'queue:manager:index' %}">Queue Manager</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
			<!-- add booking form link -->
      <li class="nav-item">
        <a
					id="booking-form-link"
					class="nav-link"
					href="{% url "queue:manager:add_booking" %}"
				>
         {% trans "add booking" as add_book_tx %}
				 {{add_book_tx|title}}
        </a>
      </li>
			<!-- add costomer form link -->
			<li class="nav-item">
        <a
					id="customer-form-link"
					class="nav-link"
					href="{% url "queue:manager:add_customer" %}"
				>
         {% trans "add customer" as add_customer_tx %}
				 {{add_customer_tx|title}}
        </a>
      </li>
			<!-- Counter chooser dropdown -->
      <li class="nav-item dropdown">
        <a
					class="nav-link dropdown-toggle"
					href="#" id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
				{% trans "choose counter" as choose_counter_text %}
        {{ request.session.CounterBooth.display_name|default:choose_counter_text|title }}
        </a>
        <div
					id="booth-menu"
					class="dropdown-menu"
					aria-labelledby="navbarDropdown"
					url_data="{% url "queue:manager:booth_list" %}"
				>
				{% trans "choose an organization first" as choose_tx %}
				{{choose_tx|capfirst}}
        </div>
      </li>
			<!-- Organization dropdown -->
			<li class="nav-item dropdown">
        <a
					class="nav-link dropdown-toggle"
					href="#" id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
				{% trans "choose organization" as choose_org_text %}
        {{ request.session.Organization.name|default:choose_org_text|title }}
        </a>
        <div
					id="organization-menu"
					class="dropdown-menu"
					aria-labelledby="navbarDropdown"
					url_data="{% url "queue:manager:organization_list" %}"
				>
					{% trans "no data" as no_data_tx%}
					{{no_data_tx|capfirst}}
        </div>
      </li>
    </ul>
    <span class="navbar-text">
    	{{ request.user.get_full_name|default:request.user.username }}
    </span>
  </div>
</nav>

{% comment %}
<!--modal-->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-form-title">Tambah Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-form-body">
      	<div class="embed-responsive embed-responsive-1by1">
			<iframe class="embed-responsive-item" src="{% url "queue:add_booking_url" %}" allowfullscreen ></iframe>
		</div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% endblock %}

{% block content %}

{% endblock %}

{% block javascript %}
<script src="{% static 'queue_app/core/js/manager.js' %}"></script>
<script type="text/javascript">
$('.dropdown-menu').initiate_dropdown();

</script>
{% block javascript-content %}
{% endblock %}
{% endblock %}
