{% extends 'queue_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Manager Home{% endblock %}

{% block stylesheet %}
	<link href="{% static 'queue_app/core/css/manager-base.css'%}" rel="stylesheet" type="text/css">

	{% block stylesheet-content %}
	{% endblock %}
{% endblock %}

{% block content-header %}
<header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark flex-coloumn flex-md-row">
  <a class="navbar-brand" href="{% url 'queue:manager:index' %}">Queue Manager</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#managerNavbar" aria-controls="managerNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="managerNavbar">
    <ul class="navbar-nav">
			<!-- add booking form link -->
      <li class="nav-item">
        <a
					id="booking-form-link"
					class="nav-link"
					href="{% url "queue:manager:add_booking" %}"
				>
         {% trans "add booking" as add_book_tx %}
				 {{add_book_tx|title}}
        </a>
      </li>
			<!-- add costomer form link -->
			<li class="nav-item">
        <a
					id="customer-form-link"
					class="nav-link"
					href="{% url "queue:manager:add_customer" %}"
				>
         {% trans "add customer" as add_customer_tx %}
				 {{add_customer_tx|title}}
        </a>
      </li>
			<!-- Counter chooser dropdown -->
      <li class="nav-item dropdown">
        <a
					class="nav-link dropdown-toggle"
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
				{% trans "choose counter" as choose_counter_text %}
        {{ request.session.CounterBooth.display_name|default:choose_counter_text|title }}
        </a>
        <div
					id="booth-menu"
					class="dropdown-menu dropdown-ajax"
					url_data="{% url "queue:manager:booth_list" %}"
				>
				{% trans "choose an organization first" as choose_tx %}
				{{choose_tx|capfirst}}
        </div>
      </li>
			<!-- Organization dropdown -->
			<li class="nav-item dropdown">
        <a
					class="nav-link dropdown-toggle"
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
				{% trans "choose organization" as choose_org_text %}
        {{ request.session.Organization.name|default:choose_org_text|title }}
        </a>
        <div
					id="organization-menu"
					class="dropdown-menu dropdown-ajax"
					url_data="{% url "queue:manager:organization_list" %}"
				>
					{% trans "no data" as no_data_tx%}
					{{no_data_tx|capfirst}}
        </div>
      </li>
    </ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown ">
				<a
					aria-expanded="false" aria-haspopup="true"
					class="nav-item nav-link dropdown-toggle mr-md-2"
					data-toggle="dropdown" role="button"
					href="#"
					id="usermenutoggle"
				>
					{{ request.user.get_full_name|default:request.user.username|title }}
				</a>
				<div
					id="usermenu"
					class="dropdown-menu dropdown-menu-right"
					aria-labelledby="usermenutoggle"
				>
					<a href="{% url 'queue:manager:language' 'en' %}?next={{request.get_full_path|urlencode}}" class="dropdown-item">
						{% trans "english" as english_tx %}
						{{english_tx|title}}
					</a>
					<a href="{% url 'queue:manager:language' 'id' %}?next={{request.get_full_path|urlencode}}" class="dropdown-item">
						{% trans "indonesian" as indonesian_tx %}
						{{indonesian_tx|title}}
					</a>
				</div>
			</li>
		</ul>
  </div>
</header>

{% comment %}
<!--modal-->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-form-title">Tambah Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-form-body">
      	<div class="embed-responsive embed-responsive-1by1">
			<iframe class="embed-responsive-item" src="{% url "queue:add_booking_url" %}" allowfullscreen ></iframe>
		</div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% endblock %}

{% block content %}

{% endblock %}

{% block javascript %}
<script src="{% static 'queue_app/core/js/manager.js' %}"></script>
<script type="text/javascript">
$('.dropdown-ajax').initiate_dropdown();

</script>
{% block javascript-content %}
{% endblock %}
{% endblock %}
