{% for queue in object_list %}
<tr style="background:{{ queue.booking_flag|yesno:"#ccd8e5," }}">
	<td>
		{{ queue.number }}
	</td>
	<td>
		{{ queue.character }} {{ queue.number }}
	</td>
	
	<td>
		{{ queue.booking_datetime|time:"H:i"|default:"-" }}
	</td>
	<td>
		{{ queue.customer.get_full_name|default:queue.customer|default:"-" }} 
	</td>
	<td>
		<a href="#" class="btn btn-primary btn-bell" role="button" data-toggle="tooltip" data-placement="top" title="Call this queue" session_booth ="{{ request.session.CounterBooth.id }}"><i class="fa fa-bell"></i></a>
		<a href="{% url "queue:call_queue_url" queue.id %}" class="btn btn-primary btn-check" session_booth ="{{ request.session.CounterBooth.id }}" role="button"><i class="fa fa-check"></i></a>
	</td>
</tr>
{% endfor %}